@model Livro

@{
    List<Livro> livros = ViewBag.Livros;
    Livro livro = new Livro();
   
  }

    <form asp-action="CadastrarLivro" asp-controller="Livro" method="post" enctype="multipart/form-data">
        <b>Logado: @User.Identity.IsAuthenticated.ToString()</b><br />
        <a asp-action="Logout" asp-controller="Usuario">Sair</a>
        <a asp-action="BuscarData" asp-controller="Livro" class="btn btn-success">Buscar por data</a>
               
        <fieldset>
            
            <legend>Cadastrar Livro</legend>

            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="Titulo">Título:</label>
                <input class="form-control" type="text" asp-for="Titulo" value="" placeholder="Título" />
            </div>

            <div class="form-group">
                <label asp-for="Autor">Autor:</label>
                <input class="form-control" type="text" asp-for="Autor" value="" placeholder="Autor" />
            </div>

            <div class="form-group">
                <label asp-for="Editora">Editora:</label>
                <input type="text" class="form-control" asp-for="Editora" value="" placeholder="Editora" />
            </div>

            <div class="form-group">
                <label asp-for="Edicao">Edição:</label>
                <input type="text" asp-for="Edicao" class="form-control" value="" placeholder="Edição" />
            </div>

            <div class="form-group">
                <label asp-for="NumPaginas">Número de páginas:</label>
                <input type="text" asp-for="NumPaginas" value="" class="form-control" placeholder="Número de páginas" />
            </div>

            <div class="form-group">
                <label asp-for="Isbn">ISBN:</label>
                <input type="text" class="form-control" asp-for="Isbn" value="" placeholder="ISBN" />
            </div>

            <div class="form-group">
                <label asp-for="imagem">(Opcional)Imagem:</label>
                <input class="form-control-file" type="file" name="file"/>
            </div>
            <input type="submit" name="Cadastrar" class="btn btn-info" value="CadastrarLivro" />
        </fieldset>
    </form>

    <div>
        <table class="table table-hover table-striped espacamento-cima espacamento-baixo">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Título: </th>
                    <th scope="col">Autor: </th>
                    <th scope="col">Editora: </th>
                    <th scope="col">Edição: </th>
                    <th scope="col">Nº páginas: </th>
                    <th scope="col">Isbn: </th>
                    <th scope="col">Imagem: </th>
                    <th scope="col">Criado em: </th>
                </tr>
            </thead>
            <tbody>

                @foreach (Livro livroCadastrado in livros)
                {
                    <tr class="table-secondary">
                        <td>@livroCadastrado.Id</td>
                        <td>@livroCadastrado.Titulo</td>
                        <td>@livroCadastrado.Autor</td>
                        <td>@livroCadastrado.Editora</td>
                        <td>@livroCadastrado.Edicao</td>
                        <td>@livroCadastrado.NumPaginas</td>
                        <td>@livroCadastrado.Isbn</td>
                        <td>
                            <img src="~/Images/@livroCadastrado.imagem" style="width:120px; height:100px"/>
                        </td>
                        <td>@livroCadastrado.CriadoEm</td>
                        <td>
                            <a asp-action="Remover" asp-controller="Livro" asp-route-id="@livroCadastrado.Id">Remover</a>
                        </td>
                        <td>
                            <a asp-action="Alterar" asp-controller="Livro" asp-route-id="@livroCadastrado.Id">Alterar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p><b>Atualizado em: @DateTime.Now</b></p>
    </div>

